.breaking-change::before {
    content: "BREAKING CHANGE: ";
    color: #e63946;
    font-weight: bold;
    font-size: 24px;
}

.breaking-change {
    font-size: 20px;
}

.new-feature::before {
    content: "NEW FEATURE: ";
    color: #55a630;
    font-weight: bold;
    font-size: 24px;
}

.new-feature {
    font-size: 20px;
}